<p id="notice"><%= notice %></p>

<p>
  <strong>Id cervejaria:</strong>
  <%= @ciclovida.cliente_id %>
</p>

<p>
  <strong>Id item:</strong>
  <%= @ciclovida.item_id %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @ciclovida.localizacao %>
</p>


